<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gt.tec.cafecasa">

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".switchActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             </activity>
        <activity
            android:name=".menu_principal.CafeActivity"
            android:label="@string/category_numbers" />
        <activity
            android:name=".menu_principal.DesayunoActivity"
            android:label="@string/category_Desayuno" />
        <activity
            android:name=".menu_principal.SandwichesActivity"
            android:label="@string/category_panino" />
        <activity
            android:name=".menu_principal.EnsaladaActivity"
            android:label="@string/category_Ensalada" />
        <activity
            android:name=".menu_principal.PostreActivity"
            android:label="@string/category_postre" />
        <activity
            android:name=".menu_principal.PastaActivity"
            android:label="@string/category_pasta" />
        <activity
            android:name=".PedidoActivity"
            android:label="pedido" />
        <activity
            android:name=".MenuActivity"
            android:label="menu" />
    </application>

</manifest>
